.my-node-enter {
    height: 0;
}

.my-node-enter-active {
    height: 100vh;
    transition: all 1200ms;
}

.my-node-exit {
    height: 100vh;
}

.my-node-exit-active {
    height: 0;
    transition: all 1200ms;
}

.divForSelectedPage {

    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: scroll;
}

.SelectedPage {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: hidden;
    background: rgb(40, 39, 39);

    // background: rgb(0, 0, 0);
    // background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(145, 106, 106, 1) 38%, rgba(235, 235, 235, 1) 100%);

    .SelectedPage_scrollBlock {

        width: .5vmin;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: rgb(255, 255, 255);
        overflow: hidden;
        color:black
    }

    .SelectedPage_imageBlock_imageIdOnCenter {
        position: absolute;
        display: flex;
        justify-content: space-around;
        top: 5vh;
        right: 5vw;
        width: 5vw;
        z-index: 1;
    }

    .SelectedPage_imageBlock_back {
        position: absolute;
        top: 5vh;
        left: 5vw;
        z-index: 1;
        text-shadow: 0 3px black;
        font-size: 25px;
    }

    .backAndScroll {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .SelectedPage_imageBlock {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        // background-size: cover;
        // background-repeat: no-repeat;


        // object-fit: fill;
        // object-position: 50% 50%;
        // background: rgb(240, 15, 15);

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            // z-index: 0;


            border: 200vw solid transparent;
            border-right: 200vw solid black;
            border-bottom: 200vw solid black;

        }

        &.active::after {
            animation: SelectedPage_imageBlockAfter 2s ease-in-out;
            animation-fill-mode: forwards;
        }

        @keyframes SelectedPage_imageBlockAfter {
            0% {
                border: 200vw solid transparent;
                border-right: 200vw solid black;
                border-bottom: 200vw solid black;
            }

            100% {
                border: 0vw solid transparent;
                border-right: 0vw solid black;
                border-bottom: 0vw solid black;

            }
        }

        .SelectedPage_imageBlock_buttonForScroll {
            display: flex;
            position: absolute;
            bottom: 15vh;
            right: 20vw;
            align-items: center;
            gap: 10px;
            z-index: 1;

            // background:blue;
            span {
                display: block;
            }

            div {
                padding: 10px 30px;
                border: 1px solid white;
                border-radius: 15px;
                transition: all .5s;

                &:hover {
                    background: white;
                    color: black;
                }
            }
        }

        .SelectedPage_imageBlock_header {
            position: absolute;
            top: 5vh;
            right: 10vw;
            display: flex;
            flex-direction: column;
            width: auto;
            gap: 5vh;
            z-index: 1;

            // background: green;

            div {
                overflow: hidden;

                h1,
                h2,
                h3 {
                    transform: translateY(-110%);
                    color: white;
                    // -webkit-text-stroke: .04em black;


                }



            }



            &.active {

                h1,
                h2,
                h3 {
                    animation: SelectedPage_imageBlock_header_Textanimation 1s ease-in;
                    animation-fill-mode: forwards;
                }
            }
        }

        @keyframes SelectedPage_imageBlock_header_Textanimation {
            0% {
                transform: translateY(-110%);
            }

            100% {
                transform: none;
            }
        }

        .SelectedPage_imageBlock_img {
            object-fit: cover;
            // object-position: 50% 100% ;
            // object-position: 50% 50%;
            height: 100%;
            width: 100%;
            opacity: 1;
            transition: all .5s;



            // object-position: 0% 0%;
            &.blur {
                opacity: 0;
            }
        }


    }





    .SelectedPage_content {
        // height: 100vh;
        width: 90vw;
        display: flex;
        justify-content: center;
        gap: 2vw;
        margin: 0 auto;
        margin-top: 20vh;
        padding-bottom: 10vh;

        .SelectedPage_content_images {



            gap: 20px;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding-bottom: 20vh;

            .SelectedPage_content_images_item {
                width: 100%;
                height: 60vh;
                height: auto;
                border: 1px solid rgba(255, 255, 255, 0.237);
                // aspect-ratio: 3/2;
                object-fit: contain;
                // opacity: .1;
                transition: all 1s;
                filter: blur(0);



                &.element-show {
                    opacity: 1;
                }

                opacity: 1;

                &.blur {

                    opacity: 0;
                }
            }
        }

    }
}

@media (max-width:600px) {
    .SelectedPage_content {
        // flex-wrap: wrap;
    }

    .SelectedPage_imageBlock_header {
        top: 50%;
        left: 50%;
        right: 0;
        width: auto;
        // background:green;
        height: auto;
        transform: translate(-0%, 50%);
    }

    .SelectedPage_content_images {
        width: 40% !important;
        // gap: 15vh !important;
        // margin-top: 15vh !important;
        // padding-bottom: 15vh !important;

    }
}