.my-node-enter {
    height: 0;
}

.my-node-enter-active {
    height: 100vh;
    transition: all 1200ms;
}

.my-node-exit {
    height: 100vh;
}

.my-node-exit-active {
    height: 0;
    transition: all 1200ms;
}

.divForSelectedPage {
    background: green;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: scroll;
}

.SelectedPage {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: hidden;

    .SelectedPage_scrollBlock {

        width: .5vmin;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: rgb(255, 255, 255);
    }

    .SelectedPage_imageBlock_imageIdOnCenter{
        position: absolute;
        display: flex;
        justify-content: space-around;
        top: 5vh;
        right: 5vw;
        width: 5vw;
        z-index: 1;
    }

    .SelectedPage_imageBlock_back {
        position: absolute;
        top:5vh;
        left: 5vw;
        z-index: 1;
    }

    .backAndScroll {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .SelectedPage_imageBlock {
        position: relative;
        height: 100%;
        width: 100%;

        background: rgba(0, 0, 0, 0);

        .SelectedPage_imageBlock_buttonForScroll {
            display: flex;
            position: absolute;
            bottom: 15vh;
            right: 20vw;
            align-items: center;
            gap: 10px;
            // background:blue;
            span{
                display: block;
            }
            div {
                padding: 10px 30px;
                border: 1px solid white;
                border-radius:15px;
                transition: all .5s;
                &:hover{
                    background:white;
                    color:black;
                }
            }
        }

        .SelectedPage_imageBlock_header {
            position: absolute;
            top: 5vh;
            right: 10vw;
            display: flex;
            flex-direction: column;
            width: auto;
            gap: 5vh;
            // background: green;
        }

        .SelectedPage_imageBlock_img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

       
    }





    .SelectedPage_content {
        // height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;

        .SelectedPage_content_images {

            margin-top: 20vh;
            gap: 20vh;

            width: 60%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20vh;

            .SelectedPage_content_images_item {
                width: 100%;
                height: 60vh;
                // aspect-ratio: 3/2;
                object-fit: contain;
                // opacity: .1;
                transition: all 1s;
                filter: blur(0);
                &.element-show {
                    opacity: 1;
                }

                &.blur{
                    background:grey;
                    filter: blur(4px);
                }
            }
        }

    }
}

@media (max-width:600px) {
    .SelectedPage_imageBlock_header {
        top: 50%;
        left: 50%;
        right: 0;
        width: auto;
        // background:green;
        height: auto;
        transform: translate(-0%, 50%);
    }

    .SelectedPage_content_images{
        width: 90% !important;
        gap: 15vh !important;
        margin-top: 15vh !important;
        padding-bottom: 15vh !important;
    }
}