.SelectedPage {
    height: 0;
    width: 100vw;
    position: relative;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    .SelectedPage_imageBlock {
        position: relative;
        height: 100%;
        width: 100%;

        background: rgba(0, 0, 0, 0);

        .SelectedPage_imageBlock_back {
            position: absolute;
            top: 10vmin;
            left: 10vmin;
        }

        .SelectedPage_imageBlock_header {
            position: absolute;
            top: 10vmin;
            right: 30vmin;
            display: flex;
            flex-direction: column;
            width: 50vmin;
            gap: 5vmin;
            height: 90vmin;
            background:grey;
        }

        .SelectedPage_imageBlock_img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }





    .SelectedPage_content {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;

        .SelectedPage_content_images {
            margin-top: 20vh;
            gap: 20vh;
            
            width: 50%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;

            .SelectedPage_content_images_item {
                width: 100%;
                height: auto;
                aspect-ratio: 3/2;
            }
        }

    }
}