@keyframes visionSelectedPage {
  0% {
    height: 100vh
  }

  100% {
    height: 0
  }
}

.container {
  height: 100vh;
  width: 100vw;
  background: var(--sliderBacground);
  margin: 0;
  position: relative;
  overflow: hidden;

  .content {
    height: 100%;
    overflow: hidden;

    .sliderAndMinislider {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;


      .slider {
        display: flex;
        position: absolute;
        top: 50%;
        padding-left: calc((100vw - 18vw)/2);
        // background:green;
        padding-right: calc((100vw - 18vw)/2);
        // transform: translate(0, -50%);
        height: 100%;
        align-items: center;
        gap: 4vw;
        transform: translate(0%, -50%);
        opacity: 0;

        -moz-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .image {
          width: 18vw;
          height: 56vh;
          object-fit: cover;
          object-position: 0% 100%;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: all 1s ease-in;
        }

        .gag {
          display: block;
          background: red;
          width: 4vmin;
          height: 100%;
          border: 1px solid white
        }


      }

      .minislider {
        display: flex;
        gap: 2vmin;
        position: absolute;
        bottom: 5vmin;
        right: 5vmin;

        align-items: center;
        transform: translate(0, 300%);
        z-index: 1;
        animation: miniSliderAction .7s ease-in-out forwards;



        .image {
          width: auto;
          height: 4vmin;

          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: all 1s ease-out;
          cursor: pointer;


          &.slideDown {
            transform: translateY(300%)
          }
        }
      }
    }

    .sliderAndMinislider_counter {
      position: absolute;
      display: flex;
      gap: 10px;
      bottom: 10vh;
      left: 50%;
      transform: translateX(-50%);
    }

    .sliderAndMinislider_plus {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      // font-weight: 300;
      opacity: 0;
      cursor: pointer;
      color: #ffffff00;
      font-family: 'Times New Roman', Times, serif;
    }


    .about {
      background: rgb(0, 0, 0);
      height: 100vh;
      width: 100vw;
      overflow-y: auto;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      padding-bottom: 20vmin;
      padding-top: 20vmin;
      gap: 10%;

      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-thumb {
        background: white;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 10px;
      }

      .about_container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        gap: 3%;

        &.reverse {
          flex-direction: row-reverse;

          .about_image {
            .img {
              transform: translateX(120%);
            }
          }
        }

        .about_image {
          width: calc((1vw + 1vh)* 30);
          display: flex;
          justify-content: center;
          align-content: center;
          position: relative;
          overflow: hidden;

          .img {
            width: 100%;
            height: auto;
            object-fit: contain;
            transition: all 1s;
            transform: translateX(-120%);
          }

          &.element-show .img {
            transform: none;
          }
        }

        .about_content {
          font-size: 1.5rem;
          width: 45%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          gap: 2vmin;
          align-self: center;
          justify-content:center;
          min-height: 50vh;

          
          .about_content_textBlock {
            display: flex;
            flex-wrap: wrap;
            column-gap: 1vmin;

            transform: translateX(100%);
            transition: all 1s;

          }


          &.element-show .about_content_textBlock {
            transform: none;
          }

        }

        &.reverse .about_content_textBlock {
          transform: translateX(-100%);
        }


        // .about_content {
        //   position: absolute;
        //   top: 20vmin;
        //   right: 10%;
        //   font-size: 20px;
        //   width: 50%;
        //   overflow: hidden;
        //   display: flex;
        //   flex-direction: column;
        //   gap: 2vmin;
        //   padding-bottom: 10vmin;

        //   .about_content_textBlock {
        //     display: flex;
        //     flex-wrap: wrap;
        //     column-gap: 1vmin;

        //     &.ul::before {
        //       // content: '-'
        //     }
        //   }

        .about_content_textBlock_span {
          display: flex;
          flex-wrap: wrap;
          overflow: hidden;

          .about_content_textBlock_span_text {
            display: block;

            // transform: translateY(-100%);

            transition: all 1s .1s;

            &.title {
              color: white;
              font-size: 30px;
              // text-shadow: 2px 2px grey, 4px 4px red;
              text-decoration: dashed;

              padding: 0 5px;
            }

            &.uppercase {
              text-transform: uppercase;
            }


          }

          &.element-show .about_content_textBlock_span_text {
            transform: none;
          }
        }


      }
    }

    .header {
      position: absolute;
      display: flex;
      justify-content: space-between;
      left: 50%;
      transform: translate(-50%, 30px);
      gap: 10vw;
      z-index: 2;

      font-size: 20px;
      overflow: hidden;


      span {
        display: block;
        cursor: pointer;
      }

      .header_item {
        opacity: .5;
        transition: all .5s;

        &.active {
          opacity: 1;
        }


      }


    }

    .center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      span {
        font-size: 25px;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }






}

@media (max-width: 600px) {
  .about_container {
    flex-direction: column;
    align-items: center;
    gap: 5vh !important;
    min-height: auto !important;

    .about_image,
    .about_content {
      width: 90% !important;


    }

    .about_image {
      // background: green;
      height: fit-content !important;

      .img {
        height: 100% !important;
        // object-fit: cover !important;
        object-fit: cover !important;
      }
    }
  }

  .about_container.reverse {
    flex-direction: column !important;
  }
}