.sliderItem {
    position: relative;
    
   
    .image {
        width: 40vmin;
        height: 56vmin;
        object-fit: cover;
        border-radius: 5px;
        
        // max-height: 500px;

        object-position: 0% 100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all .8s ease-in-out;
        opacity: 1;
        transition: all 3s;

        // box-shadow:  0 0 0 0vmin black;
        &.blur {
            opacity: 0;
        }
    }


    .sliderItem_content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;


        .title {
            display: flex;
            justify-content: space-between;

            width: 80%;
            overflow: hidden;

            div {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                position: relative;
            }

            span {
                cursor: pointer;
                font-size: 20px;

                animation: titleUp 1s ease-in-out;
            }

            span:first-child,
            span:last-child {
                // padding: 0 10px;
                font-family: 'Times New Roman', Times, serif;

                font-size: 40px;
                transition: all .5s;
            }

            span:first-child:hover {
                transform: rotate(45deg);
            }

            span:last-child:hover {
                transform: rotate(-45deg);
            }
        }
    }

}

@keyframes titleUp {
    0% {
        transform: translate(0, 300%);
    }

    100% {
        transform: translate(0, 0);
    }
}