@keyframes visionSelectedPage {
  0% {
    height: 100vh
  }

  100% {
    height: 0
  }
}

.backgr {
  height: 100vh;
  width: 100vw;
  background: rgb(17, 10, 10);
  margin: 0;
  overflow: auto;
  position: relative;
  overflow: hidden;

  .content {
    height: 100%;

    .sliderAndMinislider {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;


      .slider {
        display: flex;
        position: absolute;
        top: 50%;
        left: 40%;
        // transform: translate(0, -50%);
        height: 100%;
        align-items: center;
        gap: 4vmin;

        transform: translate(21%, -50%) scale(1.5);
        opacity: 0;

        -moz-user-select: none;
        -o-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .image {
          width: 40vmin;
          height: 56vmin;
          object-fit: cover;
          object-position: 0% 100%;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: all 1s ease-in;
        }

        .gag {
          display: block;
          background: red;
          width: 4vmin;
          height: 100%;
          border: 1px solid white
        }


      }

      .minislider {
        display: flex;
        gap: 2vmin;
        position: absolute;
        bottom: 5vmin;
        right: 5vmin;

        align-items: center;
        transform: translate(0, 300%);
        z-index: 1;
        animation: miniSliderAction .7s ease-in-out forwards;



        .image {
          width: auto;
          height: 4vmin;

          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: all 1s ease-out;
          cursor: pointer;

          &.slideDown {
            transform: translateY(300%)
          }
        }
      }
    }

    .about {
      background: rgb(0, 0, 0);
      height: 100vh;
      width: 100vw;
      overflow-y: auto;
      position: relative;
      z-index: 1;

      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-thumb {
        background: white;
        border: 5px solid rgb(0, 0, 0);
        border-radius: 10px;
      }

      .about_content {
        position: absolute;
        top: 20vmin;
        right: 40vmin;
        font-size: 25px;
        width: 30%;

      }
    }

    .header {
      position: absolute;
      display: flex;
      justify-content: space-between;
      left: 50%;
      transform: translate(-50%, 30px);
      width: 25vmin;
      z-index: 2;

      font-size: 20px;
      overflow: hidden;


      span {
        display: block;

      }

      .header_item {
        opacity: .5;
        transition: all .5s;

        &.active {
          opacity: 1;
        }


      }


    }

    .center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      span {
        font-size: 25px;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }






}